#!/bin/bash

mkdir -p /var/log/audit_frequent_errors
mv /usr/local/bin/frequent_errors.sh /etc/profile.d/frequent_errors.sh

groupadd auditlog

chown root:auditlog /var/log/audit_frequent_errors 
chmod 2775 /var/log/audit_frequent_errors
chmod +x /usr/local/bin/frequency_risky_commands.sh 
chmod +x /etc/profile.d/frequent_errors.sh 
chown root:root /etc/profile.d/frequent_errors.sh 
chmod +x /usr/local/bin/analysis_frecuent_errors.sh 
chmod +x /usr/local/bin/main.sh 
chmod +x /usr/local/bin/frequency_commands.sh 
chmod +x /usr/local/bin/analysis_frequency_commands.sh 
echo '%auditlog ALL=(ALL) NOPASSWD: /usr/bin/tee' >> /etc/sudoers