mkdir -p /var/log/audit_frequent_errors
mkdir -p /var/log/audit/users


mv /usr/local/bin/frequent_errors.sh /etc/profile.d/frequent_errors.sh
mv /usr/local/bin/log_history.sh /etc/profile.d/log_history.sh
mv /usr/local/bin/user_session.sh /etc/profile.d/user_session.sh

groupadd auditlog

chown root:auditlog /var/log/audit_frequent_errors 
chown root:auditlog /var/log/audit/users/ 

chmod 2775 /var/log/audit_frequent_errors
chmod 2755 /var/log/audit/users

chmod +x /etc/profile.d/frequent_errors.sh 
chmod +x /etc/profile.d/log_history.sh 
chmod +x /usr/local/bin/user_session.sh


chmod +x /usr/local/bin/frequency_risky_commands.sh 


chown root:root /etc/profile.d/frequent_errors.sh
chown root:root /etc/profile.d/log_history.sh 

chmod +x /usr/local/bin/analysis_frecuent_errors.sh 
chmod +x /usr/local/bin/main.sh 
chmod +x /usr/local/bin/frequency_commands.sh 
chmod +x /usr/local/bin/analysis_frequency_commands.sh 
echo '%auditlog ALL=(ALL) NOPASSWD: /usr/bin/tee' >> /etc/sudoers